.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    padding: 94px 24px 96px 24px;
}

.header__link_active,
.footer__link_active {
    text-decoration: none;
}

.header__link-list {
    font-family: Raleway, sans-serif;
    align-items: center;
    justify-self: start;
    display: flex;
    gap: 32px;
    line-height: 22px;
    padding-left: 27px;
    padding-bottom: 5px;
}

.header__links-list-item_no-bullet {
    text-decoration: none;
    list-style-type: none;
}

.header__links-list-item {
    border-bottom: 1px solid black;
    list-style-type: circle;
}

.header__logo {
    display: block;
    width: 130px;
    justify-self: center;
    align-items: center;
}

.address {
    font-family: Raleway, sans-serif;
    font-style: normal;
    justify-self: end;
    max-width: 1100px;
    line-height: 24.3px;
    padding-right: 62px;

}

.header__address,
.footer__address {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.cover__title-text {
    font-family: Raleway, sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    color: white;
    padding: 165px 50px 117px 50px;
    text-transform: uppercase;
}

.cover__title-text-first {
    display: block;
}

.cover__title-text-second {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.cover__title-text-third {
    display: block;
    margin-top: 20px;
    text-align: end;
}

.no-letter {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin: -85 0 0 0;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    padding-left: 50px;
    word-spacing: 18px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

.bet-button {
    font-family: Raleway, sans-serif;
    position: absolute;
    left: 794px;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 256px;
    height: 51px;
    text-transform: uppercase;
}

.lots {
    max-width: 1100px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
}

.lots__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 27px;
    padding-left: 40px;
}

.lots__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1052px;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
    padding-bottom: 30px;
}

.lots__card {
    display: flex;
    flex-basis: 334px;
    flex-grow: 1;
}

.lots__movie {
    background-image: url(../images/card-lot-01.jpg);
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.lots__book {
    background-image: url(../images/card-lot-02.jpg);
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.lots__paint {
    background-image: url(../images/card-lot-03.jpg);
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.card {
    height: 596px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card-link {
    height: 100%;
}

.card-title {
    font-family: Raleway, sans-serif;
    position: relative;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    line-height: 120%;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 40px;
}

.card-text {
    font-family: Raleway, sans-serif;
    color: white;
    position: relative;
    font-size: 20px;
    line-height: 120%;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 40px;
}

.lots__more {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.about {
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 240px 1fr;
    column-gap: 25px;
    padding-top: 35px;
}

.about__background-logo {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.about__logo-image {
    height: 114px;
    width: 148px;

}

.about__content {
    flex-direction: column;
    grid-column: 2;
}

.about__title {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    align-self: center;
    padding-top: 8px;
}

.about__text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 2;
    padding-top: 3px;
    line-height: 24px;
}

.footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    height: 180px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 50px;
    padding-left: 50px;
}

.footer__links-list-item {
    list-style-type: none;
    text-align: center;
}

.footer__links_active {
    text-decoration: none;
}

.underline {
    border-bottom: 1px solid black;
}

.footer__svg-logo {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer__img {
    height: 48px;
    width: 48px;
}
